body {
	width: 500px;
	height: 300px;
	margin: 15px;
	float:left;
}

a:link {color:black;}
a:visited {color:black;}
a:hover {color:grey;}
a:active {color:grey;}


.rows:hover {background-color:rgb(240,240,240);}

h1 {
	width:50%;
	margin:0px;
	padding-right:0px;
}
